
header .nav_items li:nth-child(2) a {
	color:#d07058;
}
header .nav_items li:nth-child(2) a:hover {
	color:white;
}

.hidden_btn {
	display: none;
	border-radius: 30px;
    background-color: #ec583c;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #6c6c6c;
    font-size: 18px;
    width: 205px;
    height: 45px;
}

.hidden_btn:hover {
	background-color: #ef300e;
}

.hidden_btn_visible {
	display: inline-block;
	border-radius: 30px;
    background-color: #ec583c;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #6c6c6c;
    font-size: 18px;
    width: 205px;
    height: 45px;
}
.hidden_btn_visible:hover {
	background-color: #ef300e;
}


.btn {
  display: inline-block;
  border-radius: 30px;
  background-color: #ec583c;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #6c6c6c;
  font-size: 18px;
  width: 182px;
  height: 45px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
	background-color: #ef300e;
}

.product li{
	list-style-type: none;
	padding-top: 20px;
	height: 390px;
}
.product_items{
	padding: 0;
}
.product_items .product_image{
	position: relative;
	
}

.product_items h3 {
	position: absolute;
	bottom: -10px;
	left: -20px;
	font-size: 40px;
	text-shadow: 2px 2px 2px #6c6c6c;
}

.product_items .hidden_btn_block {
	display: flex;
	flex-direction:column;
	align-items:center;
}
.item {
	display: block;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.btn_close_prod {
	display: none;
	position: absolute;
	top: -18px;
	right: -16px;
	background-color: #fefefe;
	border: none;
	font-size: 28px;
	color: #aaa;
	font-weight: bold;
}
.btn_close_prod:hover {
	color: #ec583c;
}

.item_content_style {
	color: #000;
	background-color: #fefefe;
	padding: 20px;
	margin-top: -20px;
	border: 1px solid #888;
	z-index: 2;
}

.product_items .btn {
	width: 220px;
	height: 50px;
	font-size: 18px;
}

.product_items p {
	text-align: center;
}

.product_items {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: repeat (12, 1fr);
	align-items:center;
	justify-items:center;
}
.product_items li{
	width: 233px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.product_items img{
	margin-bottom: 10px;
	height: 233px;
	width: 233px;
	box-shadow: 5px 5px 20px grey;
	border-radius: 130px;
}

	
}
@media (min-width: 500px) {
	.product_items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat (6, 1fr);
	}
}


@media (min-width: 750px) {
	.product_items {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat (4, 1fr);
	}
}


@media (min-width: 950px) {
	.product_items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat (3, 1fr);
	}
}





