@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
	/*background-color: #849d8f;*/
	background-color: #29E4E4;
	font-family: 'Roboto', sans-serif;
	color: white;
	max-width: 1200px;
	margin: auto;
}

/*-----preloader--------*/
.cut {overflow: hidden;}

#preloader {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    z-index: 99;
    background-color: rgba(0,0,0,0.4);
   
    transition: top 500ms linear 500ms;
}

#pulsar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1px;
    height: 1px;
    z-index: 100;
    background-color: pink;
    opacity: 1;
    border-radius: 100%;
    border: 7px solid crimson;
    animation: pulsar 2s infinite;
    transition: all 200ms linear 0s;
}

.pulsar_dot {
    width: 10px;
    height: 10px;
    background-color: aqua;
    border-radius: 100%;
    transform: scale(1);
    animation: pulsardot 2s infinite;
}

#pulsar.hide {
    opacity: 0;
}

#preloader.moveUp {
    top: -1500px;
}

@keyframes pulsardot {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(5);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes pulsar {
    0% {
        width: 1px;
        height: 1px;
    }

    50% {
        width: 100px;
        height: 100px;
    }

    100% {
        width: 1px;
        height: 1px;
    }
}

/*-------header--------*/
header .logotype {
	text-align: center;
	margin-top: 10px;
}
header .nav_items {
	padding-left: 0;
}

header .nav_items li a {
	font-size: 16px;
	text-decoration: none;
	width: 100%;
	padding: 8px;
	transition: color 0.3s ease;
}

header .nav_items li a:hover {
	color: #d07058;
}

footer {
	padding-bottom: 30px;
	padding-top: 30px;
	border-top: 1px solid white;
}
footer .s_link_item {
	display: flex;
	justify-content: space-around;
	padding: 0;
}

footer .s_link_item li{
	height: 40px;
	width: 40px;
	list-style-type: none;
}
footer .s_link_item img {
	padding-top: 4px;
	padding-left: 4px;
}
footer .s_link_item li:hover{
	background-image: url(../img/circle.png); 
	background-position: center;
	background-repeat: no-repeat;
}

footer .info_link {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}
footer .info_link a{
	text-decoration: none;
	color: white;
	line-height: 40px;
}
footer .info_link a:hover {
	text-decoration: underline;
	color: white;
}

footer .copyright {
	text-align: center;
}
footer .copyright p {
	font-size: 26px;
	margin: 10px;
}
footer .copyright img {
	filter: invert(1);
}

@media (max-width: 600px){

	header .nav_items li a {
		color: black;
	}
	#menuToggle {
	  width: 50px;
	  display: block;
	  position: relative;
	  top: 25px;
	  left: 35px;
	  
	  z-index: 1;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}

	#menuToggle input {
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  cursor: pointer;
	  
	  opacity: 0;
	  z-index: 2;
	  -webkit-touch-callout: none;
	}

	#menuToggle span {
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: #fff;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child {
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
	  transform-origin: 0% 100%;
	}

	#menuToggle input:checked ~ span {
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #000;
	}

	#menuToggle input:checked ~ span:nth-last-child(3) {
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	#menuToggle input:checked ~ span:nth-last-child(2) {
	  transform: rotate(-45deg) translate(0, -1px);
	}

	#menu {
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  
	  background: white;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}



	#menu li {
	  padding: 10px 0;
	  font-size: 22px;
	}
	#menuToggle input:checked ~ ul {
	  transform: none;
	}
}

header .menu_basket {
	display: flex;
	justify-content: flex-end;

}
header .menu {
	display: flex;
	list-style-type: none;
	flex-direction: column;
}
header .menu li {
	color: white;
	display: flex;
	height: 33px;
	width: 92px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 20px;
	margin: -20px 25px 40px 0;
	justify-content: space-around;
	align-items: center;
}
header .menu li:hover {
	background-color: rgba(255, 255, 255, 0.5);
}

.modal_login {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.modal_reg {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}
.modal_content_login {
	color: #000;
	position: relative;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 35%;
}
.modal_content_reg {
	color: #000;
	position: relative;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 35%;
}
.modal_content_login .form_name {
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap: wrap;
	margin: 0;
}
.modal_content_reg .form_name {
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap: wrap;
	margin: 0;
}
main .modal_content .user_name, .user_email, .title, .comment {
	border: none;
	border-radius: 20px;
	background-color: rgba(128,128,128,0.4);
	padding: 10px;
	margin-bottom: 20px;
}

.modal_content_login .user_password {
	border: none;
	border-radius: 20px;
	background-color: rgba(128,128,128,0.4);
	padding: 10px;
	margin-bottom: 20px;
}
.modal_content_login .btn {
	width: 130px;
	height: 40px;
	font-size: 20px;
}
.modal_content_reg .btn {
	width: 140px;
	height: 40px;
	font-size: 20px;
	margin-bottom: 15px;
}
.modal_content_login .text_area {
	display: flex;
	justify-content:space-around;
}
.modal_content_reg .text_area {
	display: flex;
	justify-content:flex-start;
}
.modal_content_reg .user_name, .user_surname, .user_email, .user_password {
	border: none;
	border-radius: 20px;
	background-color: rgba(128,128,128,0.4);
	padding: 10px;
	margin-bottom: 20px;
}

.btn_close_login {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fefefe;
	border: none;
	font-size: 28px;
	color: #aaa;
	font-weight: bold;
}
.btn_close_reg {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fefefe;
	border: none;
	font-size: 28px;
	color: #aaa;
	font-weight: bold;
}
@media (max-width: 800px){
	.modal_content_reg .user_name, .user_surname, .user_email, .user_password {
		width:90%;
	}
	.modal_content_login .user_password{
		width:90%;
	}
	.modal_content_login .text_area {
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.modal_content_login .btn {
		margin-bottom: 10px;
}

}
@media (min-width: 400px) {
	header .menu {
	display: flex;
	flex-direction: row;
	}
}
@media (min-width: 600px){


	header .logotype {
		display: flex;
		justify-content: flex-start;
		margin-left: 25px;
	}

	header #menuToggle input {
		display: none;
	}
	header .nav_items {
		list-style-type: none;
		display: flex;
		justify-content: space-around;
	}
	header .nav_items a{
		color: white;
	}

	header .menu_basket {
		margin-top: -100px
	}

}

@media (min-width: 800px) {
	footer {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0 40px 0 40px;
	 }

	 footer .info_link{
	 	display: grid;
	 	grid-template-columns: 1fr 1fr;
	 	grid-template-rows: 1fr 1fr;
	 }
	 footer .info_link a {
	 	line-height: 30px;
	 	padding-left: 10px;	 }
}
@media (min-width: 900px) {
	header {
		width: 100%;
		display: grid;
		grid-template-columns: 2fr 5.8fr 0.2fr 2fr;
	}
	header .main_navigation {
		display: flex;
		align-items: center;
	}

	header .nav_items li{
		margin-right: 20px;
	}

	header .menu_basket {

		margin-top: 0;
	}

	header .menu li{
		margin: 0 25px 0 0;
	}
}

/*---------main----------*/

main .advert {
	background: radial-gradient(40% 40%, #cbf2dd, #29E4E4);
}


/*------footer-------*/
.copyright img {
	max-height: 20px;
	max-width: 20px;
}