.hidden_btn {
	display: none;
	border-radius: 30px;
    background-color: #ec583c;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #6c6c6c;
    font-size: 18px;
    width: 205px;
    height: 45px;
}

.hidden_btn:hover {
	background-color: #ef300e;
}

.hidden_btn_visible {
	display: inline-block;
	border-radius: 30px;
    background-color: #ec583c;
    border: none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #6c6c6c;
    font-size: 18px;
    width: 205px;
    height: 45px;
}
.hidden_btn_visible:hover {
	background-color: #ef300e;
}

main .advert_foto {
	min-height: 600px;
    background-image: url(../img/ice-cream/ice-cream-banner.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}

main .advert {
	margin-top: -150px;
}

main .advert h1 {
	padding-top: 200px;
	font-weight: bold;
	
	font-size: 30px;
	text-align: center;
}

.btn {
  display: inline-block;
  border-radius: 30px;
  background-color: #ec583c;
  border: none;
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 1px 2px #6c6c6c;
  font-size: 18px;
  width: 182px;
  height: 45px;
  transition: all 0.5s;
  cursor: pointer;
}
.btn:hover {
	background-color: #ef300e;
}

main .advert_discount {
		-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        box-sizing: border-box;
	}
	main .raspberry {
		background-image: url('../img/raspberries.png');
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 230px;
		width: 85%;
	 	margin-left: auto;
		margin-right: auto;
		margin: 10px;
		border-radius: 20px;
		padding: 19px;
		box-shadow: 5px 5px 20px grey;
	}
	.advert_discount h3 {
		font-size: 34px;
		margin: 0;
	}
	
	.raspberry p {
		font-size: 18px;
	}
	main .chocolate {
		background-image: url(../img/chocolate.png);
		background-repeat: no-repeat;
		background-size: cover;
		position: relative;
		height: 230px;
		width: 85%;
	 	margin-left: auto;
		margin-right: auto;
		margin: 10px;
		border-radius: 20px;
		padding: 19px;
		box-shadow: 5px 5px 20px grey;
	}

main .advert_discount {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.advert_discount .btn {
	font-size: 16px;
  	width: 182px;
  	height: 45px;
}
.raspberry {
	position: relative;
}
.raspberry .btn{
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.chocolate {
	position: relative;
}
.chocolate .btn {
	position: absolute;
	right: 20px;
	bottom: 20px;
}

.product li{
	list-style-type: none;
	padding-top: 20px;
	height: 390px;
}
.product_items{
	padding: 0;
}
.product_items .product_image{
	position: relative;
	
}

.product_items h3 {
	position: absolute;
	bottom: -10px;
	left: -20px;
	font-size: 40px;
	text-shadow: 2px 2px 2px #6c6c6c;
}

.product_items .hidden_btn_block {
	display: flex;
	flex-direction:column;
	align-items:center;
}
.item {
	display: block;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}

.btn_close_prod {
	display: none;
	position: absolute;
	top: -18px;
	right: -16px;
	background-color: #fefefe;
	border: none;
	font-size: 28px;
	color: #aaa;
	font-weight: bold;
}
.btn_close_prod:hover {
	color: #ec583c;
}

.item_content_style {
	color: #000;
	background-color: #fefefe;
	padding: 20px;
	margin-top: -20px;
	border: 1px solid #888;
	z-index: 2;
}

.product_items .btn {
	width: 220px;
	height: 50px;
	font-size: 18px;
}

.product_items p {
	text-align: center;
}

.product_items {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product_items li{
	width: 233px;
	display: flex;
    flex-direction: column;
    align-items: center;
}
.product_items img{
	margin-bottom: 10px;
	height: 233px;
	width: 233px;
	box-shadow: 5px 5px 20px grey;
	border-radius: 130px;
}


.about {
	-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        box-sizing: border-box;
	min-width: 100%;
	height: 940px;
	background-image: url(../img/wafel.png);
	background-size: contain;
	background-repeat: repeat;
	border-radius: 30px;
	padding: 35px;
	color: #323232;
	box-shadow: 5px 5px 20px grey;
}
.about .heading h4{
	margin: 0;
	font-size: 24px;
}
.ad_items {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	padding: 0;
	height: 200px;
	margin: 0;
}
.about .ad_items li{
	display: flex;
	list-style-type: none;
	margin-top: 20px;
	margin-bottom: 20px;
	max-width: 500px;
}
.about img {
	min-height: 55px;
	min-width: 55px;
}
.about .ad_items p {
	font-size: 15px;
	margin: 0;
	margin-left: 10px;
}
main .contact_box{
	background-image: url(../img/map.png);
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 20px;
	height: 430px;
	margin-bottom: 350px;
	box-shadow: 5px 5px 20px grey;
}

main .map {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	margin-top: 35px;
	width: 100%;
	height: 760px;

}

main .contacts {
	-webkit-box-sizing: border-box;
     	-moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 25px 25px 25px;
	width: 346px;
	height: 300px;
	background-color: white;
	border-radius: 20px;
	color: black;
	box-shadow: 5px 5px 20px grey;
}
main .contacts .btn {
	font-size: 16px;
	width: 270px;
	height: 40px;
	margin-left: 18px;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
}

main .modal_content {
	color: #000;
	position: relative;
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
}

main .modal_content .form_name {
	display: flex;
	flex-direction:row;
	justify-content:space-around;
	flex-wrap: wrap;
	margin: 0;
}


main .modal_content .user_name, .user_email, .title, .comment {
	border: none;
	border-radius: 20px;
	background-color: rgba(128,128,128,0.4);
	padding: 10px;
	margin-bottom: 20px;
}

main .modal_content .text_area {
	display: flex;
	flex-direction:column;
	align-items:center;
}

main .modal_content .title {
	width: 90%;
}
main .modal_content .comment {
	width: 90%;
	padding-bottom: 30px; 
}
main .modal_content .btn {
	width: 130px;
	height: 40px;
	font-size: 20px;
}



main .btn_close {
	position: absolute;
	top: 5px;
	right: 5px;
	background-color: #fefefe;
	border: none;
	font-size: 28px;
	color: #aaa;
	font-weight: bold;
}


@media (max-width: 800px){
	main .modal_content .user_name, .user_email {
		width:90%;
	}
	.modal_content_login .user_password{
		width:90%;
	}
	.modal_content_login .text_area {
		display: flex;
		flex-direction:column;
		align-items:center;
	}
	.modal_content_login .btn {
		margin-bottom: 10px;
}
	
}
@media (min-width: 400px) {

	.about {
		min-width: 100%;
		height: 750px;
	}
	main .advert {
		margin-top: -100px;
	}
	main .advert h1 {
		font-size: 36px;
	}
	main .btn {
		font-size: 23px;
  		width: 200px;
  		height: 50px;
	}
}
@media (min-width: 600px) {
	.about {
		min-width: 100%;
		height: 500px;
	}
	


	main .advert_foto {
		margin-top: 50px;
	}
	main .raspberry {
		height: 230px;
		width: 560px;
	}
	main .chocolate {
		height: 230px;
		width: 560px;
	}

	main .advert {
		margin-top: 0px;
	}
	main .advert h1 {
		font-size: 47px;
	}
	main .btn {
		font-size: 28px;
  		width: 282px;
  		height: 65px;
	}

	.product_items {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
@media (min-width: 700px) {
	main .advert h1 {
		font-size: 55px;
	}
	
	main .advert_discount {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	
	main .contact_box{
		margin-bottom: 0;
	}
	
	main .map {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		margin-top: 35px;
		width: 100%;
		height: 420px;
	}
	 main .contacts {
	 	margin-right: 35px;
	 }
	
}


@media (min-width: 850px){
	.about {
		min-width: 100%;
		height: 320px;
	}
	main .advert h1 {
		font-size: 65px;
	}
	.ad_items {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		padding: 0;
		height: 200px;
		margin: 0;
	}

}





